<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Log In</title>
</head>
<body style="text-align:center;">
	<form action="/login/" method="post">
		<input name="username" placeholder="username" ><br>
		<input name="password" placeholder="password"><br>
		<input type="submit" value="Log in"><br>
	</form>
	<p>Don't have an account</p><br>
	<form style="text-align:center;" action="/user_controller/create_new_user/">
		<button>Create account</button>
	</form>
</body>
</html>