<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
  {% for product in content %}
  	<form action="/product_controller/delete_item_from_cart/{{product[0]}}" method="post">
    	<p>{{product}}</p><input type="submit" value="Delete item from cart">
	</form>
  {% endfor %}<br>
  <p style="text-align:center;">Price of items in cart: {{total_value}}</p>
<form style="text-align:center;" action="/product_controller/view_cart/" method="post">
	<input type="submit" value="Check out">

</form>
</body>
</html>